<!DOCTYPE html>
<html lang="en">

    {{!-- Hace referencia al archivo head.hbs --}}
    {{> head}}

<body>

    {{!-- Hace referencia al archivo navbar.hbs --}}
    {{> navbar}}

    <div class="jumbotron">
        <h1 class="display-4">Stranger Things</h1>
        <img src="assets/img/StrangerThings.gif" class="img-thumbnail">
    </div>

    {{!-- Hace referencia al archivo footer.hbs --}}
    {{> footer}}

</body>

</html>